#canvas {
    border: 2px solid lightgrey;
    position: absolute;
    top: 40px;
    left: 100px;
    background-color: white;
}

body {
    margin: 0px;
    background-color: #FFFCF7;
}

.btn {
    position: absolute;
    left: 230px;
    width: 100px;
    height: 30px;
    background-color: lightblue;
}

#form1 {
    color: white;
    font-family: verdana;
    font-size: 14px;
    padding-left: 40px;
}

#endBox {
    display: none;
    height: 370px;
    width: 650px;
    position: absolute;
    top: 50px;
    left: 350px;
    background-color: rgba(207, 210, 210, 1);
}

.startBox {
    height: 370px;
    width: 650px;
    position: relative;
    top: 50px;
    left: 350px;
    background-color: rgba(207, 210, 210, 1);
}

.startBtn,
.tryAgainBtn {
    background-color: rgba(222, 29, 145, 1);
    height: 45px;
    width: 90px;
    position: absolute;
    top: 270px;
    left: 280px;
    margin: 0;
    color: white;
    font-family: verdana;
    border: none;
}

.startText,
.endText {
    padding-top: 25px;
    font-family: verdana;
    text-align: center;
}